<!DOCTYPE html>
{% extends "topic/base.html" %}
{% block title %}
板块设置
{% endblock %}
{% block main %}

<div id="content">
  <div class="panel">
    <div class="header">
      <ul class="breadcrumb">
        <li><a href="/topic">主页</a><span class="divider">/</span></li>
        <li class="active">板块设置</li>
      </ul>
    </div>
    <div class="inner">
		<ul>
			{% for b in bs %}
			<li>

				<a>  删除 </a>
			</li>
			{% endfor %}
		</ul>
	    <form class="form-horizontal" method="post" action="{{ url_for('.login_confirm') }}">
        <div class="control-group">
            <label class="control-label">用户名</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">密码</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="password">
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="span-primary" value="登录">
			<a href="/register">
				<span class="span-info">没有账号？</span>
			</a>
        </div>

		</form>
	
</div>
{% endblock %}